body {
    background-color: #000000;
    color: white;
    text-align: center;
}

.header {
    padding-top: 0%;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 50px;
    z-index: 0;


    width: 100%;
    color: white;
    font-size: 24px;
    /* border: 2px solid white; */

}

#inputField {
    background-color: #000000;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    height: 50px;
    /* padding: 15px; */
    /* line-height: 200px; */
    text-align: left;
    vertical-align: middle;
    width: 100%;
    color: white;
    font-size: 12px;

}

#address-input {
    margin-top: 10px;
    margin-left: 10px;
}

#submit-button {
    margin-top: 10px;
    margin-left: 10px;
}

#displayField {

    background-color: #000000;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;



    text-align: center;

    color: white;
    font-size: 12px;

}

/* .NFTstyle {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 300px;
    height: 300px;
    border: 4px solid black;
    border-radius: 40px;
} */

/* #nftCard {
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 300px;
    height: 300px;
    border: 4px solid black;
    border-radius: 15px;
} */

#nftTitle {
    text-align: center;
    background-color: rgb(60, 255, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 150px;
    height: 25px;
    border: 1px solid black;
}

/* #nftImage {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10px; */

/* background-color: aqua;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border: 1px solid black;
} */
#nftBalance {
    text-align: center;
    background-color: rgb(52, 71, 46);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    height: 25px;
    border: 1px solid black;
}


.nftCard {
    text-align: center;
    background: #000000;
    color: #fff;
    width: 150px;
    height: 250px;
    float: left;
    border: 1px solid #ffffff;
    border-radius: 10px;
    /* justify-content: center; */
    margin: 10px;
    margin-bottom: 20px;
    transition: 1s;
    z-index: 10;
    background: rgb(55, 51, 51)
}


.mynftCard {
    background: #000000;
    color: #fff;
    width: 150px;
    height: 250px;
    float: left;
    border: 1px solid #ffffff;
    border-radius: 10px;
    /* display: flex; */
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
    transition: 1s;
    /* z-index: 10; */
    background: rgb(55, 51, 51)
}

.nftCard:hover {
    transform: scale(1.2);

}

.mynftCard:hover {
    transform: scale(1.2);

}

.h1 {
    height: 15%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}


.myh1 {
    height: 15%;
    width: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.img {
    z-index: 5;
    max-width: 75%;
    height: 50%;
    margin-top: 2%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: gray;
}

/* .myimg {

    max-width: 75%;
    height: 80%;
    margin-top: 2%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
} */



.h3 {
    height: 15%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 5px; */
    /* vertical-align: top; */
    /* padding-bottom: 50% */
    /* margin-bottom: 5%; */
    margin-left: 5%;
    /* margin-right: 5%; */
    float: left;
    font-size: 75%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;

}

.hButton {
    height: 15%;
    width: 15%;
    
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 5px; */
    vertical-align: top;
    /* padding-bottom: 50% */
    /* margin-bottom: 5%; */
    /* margin-left: 5%; */
    margin-right: 5%;
    margin-top: 10;
    font-size: 200%;
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 5px;
    z-index: 10;

}

.hButton:hover {
    display: block;
    /* border: 1px solid red; */
}


.myh3 {
    height: 15%;
    width: 40%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* bottom: 5px; */
    /* vertical-align: top; */
    /* padding-bottom: 50% */
    /* margin-bottom: 5%; */
    margin-left: 5%;
    margin-right: 5%;

    font-size: 75%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;

}

#container {
    margin-top: 10px;



}

#mycontainer {
    margin-top: 10px;

}

#right-container {
    text-align: center;
    margin-top: 5px;
    left: 50%;
    width: 50%;
    height: 1000px;
    position: absolute;
    border-top: 2px solid white;
    border-left: 3px solid white;
    position: absolute;
}

#left-container {
    margin-top: 5px;
    border-top: 2px solid white;
    width: 50%;
    right: 50%;
    position: absolute;

}

#Profile-Link {
    background: white;
    text-align: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 85%;
    width: 10%;
    z-index: 10;
    right: 0px;

    border: solid white;
    border-radius: 20px;

}

.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: block;
    color: red;
}

#left-container-top {
    margin-top: 5px;
    border-top: 2px solid white;
    width: 50%;
    right: 50%;
    position: absolute;
    border-top: 2px solid white;
}

#right-container-top {
    text-align: center;
    margin-top: 5px;
    left: 50%;
    width: 50%;
    height: 1000px;
    border-top: 2px solid white;
    border-left: 3px solid white;
    position: absolute;
}

#trading-section {
    height: 320px;
    /* border: 2px solid red; */

}

.button.loading {
    content: "⟳";
    /* unicode for a circular arrow */
    font-size: 18px;
    color: #ccc;
}

button.loading {
    pointer-events: none;
    /* disable button */
    opacity: 0.6;
    /* make button transparent */
}

button.loading:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-image: url('loading-spinner.gif');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

/* The Modal (background) */
.modal {
    display: flex;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* border: 1px solid yellow;
     */
    border-radius: 15px;
    /* Sit on top */
    left: 10%;
    top: 10%;
    width: 80%;
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    contain: content;
    background-color: #433d3d;
    overflow: scroll;
    /* margin: 15% auto; */
    /* 15% from the top and centered */
    /* padding: 20px; */
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    /* Could be more or less, depending on screen size */
}

#title {
    height: 5%;
    width: 90%;
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
    font-size: 75%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

#imageURL {
    z-index: 5;
    contain: content;
    /* border: 5px solid cyan; */
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    margin-top: 2%;
    /* border: 1px solid rgb(255, 255, 255); */
    border-radius: 5px;
    /* background-color: gray; */
}

#description {
    display: flex;
    text-align: left;
    margin-left: 0%;
    /* border-bottom: 1px solid rgb(237, 237, 237); */
    width: 100%;
    height: 120px;
    overflow: scroll;
}

#balance {
    /* display: flex; */
    text-align: left;
    margin-left: 0%;
    border-bottom: 1px solid rgb(237, 237, 237);
    width: 100%;
    height: 120px;
    overflow: scroll;
    /* padding: 20px; */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#title {
    border: 1px solid white;
}

#description::before {
    content: "Description: ";
    color: rgb(79, 79, 148);
    font-size: 18px;
}

#balance::before {
    content: "Balance: ";
    color: rgb(79, 79, 148);
    font-size: 18px;
}

#contractAddress::before {
    content: "Contract Address ";
    color: rgb(79, 79, 148);
    font-size: 18px;
}